@{
    ViewData["Title"] = "Home Page";
}

<CENTER><div class="ONLINE BANKING">
    <h1 style="background-color:brown">ONLINE BANKING</h1>
    <div  style="color:green"class="header">ACCESS YOUR ACCOUNT</div>
    <form action="">
        <input style="background-color:bisque" type="button" value="NewCustomer" />
            <input style="background-color:burlywood"type="button" value="Transactions" />
    </form>
  
</div></CENTER>
<div class="slider active">
    eBanking Services
</div>
<div class="slider">
    Retirement Advice
</div>
<div class="slider">
    Mortgage Benefits
</div>
